.Navigation{
    position: fixed;
    top: 5%;
    justify-content: center;
    display: flex;
    left: 5%;
}

.LogoutProfile{
    right: 5%;
    position: fixed;
    top: 5%;
    justify-content: center;
    display: flex;
    box-shadow: 0 7px 20px rgba(150, 0, 0, 0.7);
}

.Save{
    box-shadow: 0 7px 20px rgba(0, 150, 0, 0.4);
}
